.login-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;

  .login-left {
    flex: 1;
    background: linear-gradient(to right, #035fc1, #0056b3);
    color: white;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;


    .logo {
      margin-bottom: 1rem;
      max-width: 100%;
      width: 40vw;
      height: 70vh;
      object-fit: contain;
    }


    .subtitle {
      font-size: 1.1rem;
    }
  }

  .login-right {
    flex: 1;
    padding: 60px 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      width: 100%;
      max-width: 400px;

      h2 {
        margin-bottom: 2rem;
      }

      .form-group {
        margin-bottom: 1.5rem;

        label {
          display: block;
          margin-bottom: 0.5rem;
          font-weight: 600;
        }

        input {
          width: 375px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 1rem;
        }
      }

      .form-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;

        .forgot-password {
          color: #035fc1;
          font-size: 0.9rem;
          cursor: pointer;
        }
      }

      button {
        width: 100%;
        padding: 12px;
        background-color: #035fc1;
        border: none;
        color: white;
        font-size: 1rem;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}

.form-note {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.95rem;

  a {
    color: #035fc1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


/* Responsive */
@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column;

    .login-left {
      display: none;
    }

    .login-right {
      padding: 40px 20px;
    }
  }
}