.breadcrumb-wrapper {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: #444;
}

.crumb {
  font-weight: 700;
  text-transform: capitalize;
  color: #035fc1;
  cursor: pointer;
  font-size: medium;
}
